.component-chart-calendar {
  align-items: center;
  display: flex;
  font-size: 1.5em;
  justify-content: flex-end;
}

.component-chart-calendar-header {
  margin-left: 10px;
}

.component-chart-calendar-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.component-chart-calendar-date {
  font-size: 15px;
  padding-right: var(--paddingBetweenText);
}
