.component-lidar-container {
  column-gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.component-lidar-cpu-item-container {
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.component-lidar-cpu-item-container:first-child {
  margin-bottom: var(--paddingBetweenText);
}

.component-lidar-cpu-title-icon {
  align-items: center;
  color: #fff;
  display: flex;
  justify-content: center;
}

.component-lidar-cpu-title-icon svg {
  margin-right: 20px;
}

.component-liar-cpu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.component-lidar-ram-container {
  align-items: center;
  display: flex;
  width: 100%;
}

.component-lidar-ram-content {
  font-size: 12px;
  width: 100%;
}

.component-lidar-ram-num {
  display: flex;
  justify-content: space-between;
  margin-top: var(--paddingBetweenText);
}

.component-lidar-ram-num-title {
  font-weight: 800;
}

.component-lidar-ram-bar-container {
  background-color: var(--grey);
  border-radius: 20px;
  height: 30px;
  position: relative;
  width: 100%;
}

.component-lidar-ram-bar-container::before {
  background-color: var(--green);
  border-radius: 20px;
  content: "";
  height: 100%;
  position: absolute;
  width: 80%;
}
