.component-sensor-container {
  column-gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.component-sensor-num-box {
  align-items: center;
  display: flex;
  font-size: 90px;
  font-weight: 800;
  height: 110px;
  justify-content: center;
}

.component-sensor-item-box {
  background-color: #f5f5f5;
  border-radius: 20px;
  color: #505050;
  padding: 9px;
}
