:root {
  /* colors */
  --darkBlue: #144277;
  --blue: #0961f8;
  --lightBlue: #5e99ff;
  --lightBlue2: #bdddee;
  --backgroundGrey: #ecf1f7;
  --white: #fff;

  /* padding */
  --paddingBetween: 30px;
  --paddingBetweenText: 10px;
}
