@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import "./_variable.css";

/* common component */
@import "./components/RoundBox.css";

/* section component */
@import "./components/Chart.css";
@import "./components/Lidar.css";
@import "./components/Menu.css";
@import "./components/Sensor.css";

* {
  box-sizing: border-box;
  font-family: Avenir;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

html,
body,
#root,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html,
body,
#root {
  background-color: var(--backgroundGrey);
  color: var(--darkBlue);
  height: 100vh;
}

h2 {
  font-size: 30px;
  margin-left: 20px;
  margin-top: 0;
}

h3 {
  color: var(--white);
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.section-container {
  padding: var(--paddingBetween);
}

.section-sub-container {
  column-gap: var(--paddingBetween);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: var(--paddingBetween);
}

.section-sub-container .component-round-box {
  height: 190px;
}

.logo {
  background-color: #0b3173;
  color: #fff;
  font-weight: 700;
  margin-bottom: 30px;
  padding: 30px 50px;
  text-align: center;
  width: 100%;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}
